.container-form-carreiras2 {

    margin: 10em 0 0 3em;
    border: solid 2px black;
    padding: 20px;
    width: 20em;
    padding: 30px 10px 30px 30px;
    border-radius: 20px;
    background-color:  rgb(241, 163, 231) 
}


.select-carreiras2 {

    margin-top: 1em;

    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: rgb(243, 9, 212);
   width: 15.5em;
   margin-left: 0.2em;
}


.select-carreiras2:focus {

    border:3px solid rgb(243, 9, 212) !important;
    box-shadow:19px 10px 10px rgb(196, 57, 184) !important;
    outline: none !important;
  
}










