.container-form-carreiras2 {

    margin: 10em 0 0 3em;
    border: solid 2px black;
    padding: 20px;
    width: 20em;
    padding: 30px 10px 30px 30px;
    border-radius: 20px;
    background-color:  rgb(241, 163, 231) 
}

.container-all-carreiras2 {
    display: grid;

    grid-template-columns: 1fr 50%;
}

.titulo-vagas-carreiras2 {
    margin-top: 2em;
   
}

.container-titul-carreiras2 {
   
}

.select-carreiras2 {

    margin-top: 1em;

    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: rgb(243, 9, 212);
   width: 15.5em;
   margin-left: 0.2em;
}


.select-carreiras2:focus {

    border:3px solid rgb(243, 9, 212) !important;
    box-shadow:19px 10px 10px rgb(196, 57, 184) !important;
    outline: none !important;
  
}



.button-carreiras2 {

    background-color:transparent !important;
    border: 3px solid white !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    margin-top: 0.5em;
    
    
}

.button-carreiras2:hover, .button-carreiras2:active,.button-carreiras2:focus, .button-carreiras2:visited {
    border: 3px solid white !important;
    box-shadow: 10px 10px 10px rgb(252, 209, 246)  !important;
    outline: none !important;

}

.button-carreiras22 {

    background-color:transparent !important;
    border: 3px solid white !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 10px;
    /* height: 45px; */
  
    height: 5em;
    cursor: pointer;
    margin-right: 2em;
    width: 50px;
   
    
    transition: 0.1s;
    
}

.button-carreiras22:hover , .button-carreiras22:active,.button-carreiras22:focus, 
.button-carreiras22:visited {
    border: 3px solid white !important;
    box-shadow: 10px 10px 10px rgb(252, 209, 246)  !important;
    outline: none !important;
    
    width: 15em !important;
}

.button-carreiras22:hover .button-span-carreiras2  {
    color: white;
   
}

.button-carreiras22:hover .icon-carreiras2 { 
    position: relative;
    bottom: 0em;
    right: 0em; 
    
}

.button-carreiras22:hover .icon-carreiras2b { 
    position: relative;
     bottom: 0.2em;
    right: 0em;  
   
        margin-top: 3px;
}

.button-carreiras22:focus .button-span-carreiras2 { 
    position: relative;
    /* bottom: 0em;
    right: 0em;  */
   color: white;
    
}

.button-carreiras22:focus .icon-carreiras2 { 
    
     bottom: 0em ;
    right: 0em;  
    top: 0em;
    
  
    
}

.button-carreiras22:focus .icon-carreiras2b { 
    
    bottom: 0em ;
   right: 0em;  
   top: 0em;
   
 
   
}



.list-carreiras2 {
    background-color: transparent;
    color:rgb(248, 200, 242);
}

.container-list-carreiras2 {

    
}

.section-list-carreiras2 {

    display: flex;
    justify-content: space-between;

}

.icon-carreiras2  {
    font-size: 20px;
    align-items: center;
     position: relative;
    bottom: 0.5em;
    right: 0.2em; 
    
    
}

.icon-carreiras2b  {
    font-size: 20px;
    align-items: center;
     position: relative;
    bottom: 1.3em;
    right: 0.2em; 
    
    
}

.icon-carreiras2:hover,   {
    
   
    
}

.icon-carreiras2:hover {
    color: red;
text-align: end;
}

.icon-carreiras2b:hover {
    color: red;
text-align: end;
}

.button-span-carreiras2 {
            color: transparent;
            text-align: start;
       
}

.gif-carreiras2 {
    border: 2px solid black;
    position: fixed;
    left: 33em;
    bottom: 13em;
}

.container-descricao-carreiras2 { 
    position: fixed;
    color: black;
    right: 12em;
    bottom: 8em;
    border: 2px solid black;
    border-radius: 20px;
    padding: 80px;
    font-size: 30px;
    background-color: rgb(248, 200, 242);
}


.p-descricao-carreiras2 {

    /* position: fixed;
    color: black;
    right: 12em;
    bottom: 8em;
    border: 2px solid black;
    border-radius: 20px;
    padding: 80px;
    font-size: 30px;
    background-color: rgb(248, 200, 242); */

}

.button-descricao-carreiras2 {
    position: fixed;
    right: 37em;
    bottom: 40em;
    border: 2px solid black !important;
}

.icon-descricao-carreiras2 {

    font-size: 30px;
    position: fixed;
    right: 13.3em;
    bottom: 13.7em;
    color: black;

}

.button-descricao-carreiras2:hover, .button-descricao-carreiras2:focus  { 
    width: 15em !important;
    border: 2px solid black !important;
}

.button-span-descricao-carreiras2 {
    color: transparent;
}

.button-descricao-carreiras2:hover .button-span-descricao-carreiras2 {
    color:black !important;
}

.button-descricao-carreiras2:focus .button-span-descricao-carreiras2 {
    color:black !important;
}








