


.select-carreiras2 {

    margin-top: 1em;

    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: rgb(243, 9, 212);
   width: 15em;
   margin-left: 0.2em;
   background-image: url('../../public/img/carreiras/triangle.png');
   
}


.select-carreiras2:focus {

    border:3px solid rgb(243, 9, 212) !important;
    box-shadow:19px 10px 10px rgb(196, 57, 184) !important;
    outline: none !important;

    
  
}








